# Termii API Key for SMS OTP
TERMII_API_KEY=TLpCNHKhknhFLieWkkACxGoydEmqnoJKavEXgmsoujhMwqQxUHvUcFMNMPreWX

# MongoDB Connection URI (Atlas)
# Replace <username> and <password> with your credentials
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/sjtutor?retryWrites=true&w=majority

# Server Port
PORT=3000
