# Appwrite Configuration
VITE_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=

# Termii API Key for SMS OTP
TERMII_API_KEY=

# MongoDB Connection URI (Atlas)
# Replace <username> and <password> with your credentials
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/sjtutor?retryWrites=true&w=majority

# Server Port
PORT=3000
